body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:antiquewhite;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

#countdown {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

#countdown span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: 3px solid #010101;
  margin: 0 2.5rem;
  border-radius: 2.5rem;
  font-size: 1.5rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;

}
  .wobble {
    animation: wobble 3.4s infinite;
  }
  
  @keyframes wobble {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
  }
